/* loader.css */
.loader-overlay {
  position: fixed; /* Fixes the overlay to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex; /* Use flexbox to center the loader */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it's above other elements */
}

.loader img {
  width: 50px; /* Width of loader */
  height: 50px; /* Height of loader */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


